# Core app
ENV_NAME=dev
PROJECT_NAME=healthnova
AWS_ACCOUNT=xxxxxxxx672
AWS_REGION=us-east-1

# CORS Configuration
CORS_ALLOWED_ORIGINS=https://app.mydomain.com,http://localhost:3000
CORS_ALLOWED_METHODS=GET,POST,PUT,DELETE,OPTIONS
CORS_ALLOWED_HEADERS=Content-Type,Authorization,X-Requested-With,Accept,Origin,X-Api-Key
CORS_MAX_AGE=86400